<div class="card">


    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam dolorem ipsa minus corporis ex eaque iusto ducimus eum, itaque non ratione ipsum, amet vero quisquam voluptatem nam facilis consequatur voluptas porro. Consectetur esse dolores vitae eum facere, dolor voluptas nihil?</p>
    </div>
</div>