<div class="jumbotron mt-4">


<h1 class="display-4">Notes App Nodejs and Mongodb</h1>

<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid distinctio nostrum cum inventore, necessitatibus facere omnis eaque quam, qui eveniet cumque incidunt reiciendis eum. Ad cupiditate accusamus laboriosam nam porro.</p>


<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore eos voluptates quibusdam, sunt doloribus consequuntur non. Iste dolorum cumque laudantium doloribus, repudiandae nulla beatae at non, animi, magnam recusandae.</p>


<a href="http://google.com" class="btn btn-primary btn-lg">Juan web</a>
</div>